header{
    height: 200px;
}
#project{
    height: 500px;
    background-image: linear-gradient(140deg,#267dff,#392cf8);
    padding: 60px;
    
}
/* .project{
    height: 500px;
} */
.project-box{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
}
.project-img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.project-title{
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}