*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header{
    height: 300px;
}
.navbar{
    background-color: #007bff;
    height: 50px;
    width: 250px;
    display: inline-flex;
    float: right;
}
.logo{
    display: inline-block;
}
.logo-words{
    padding: 10px;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: left;
}
ul{
    padding: 10px;
    display: flex;
    float: right;
}
.nav-btn{
    color: white;
}
li{
    font-size: 25px;
    margin-left: 20px;
    font-weight: bold;
    
}
.head-text{
    padding: 30px;
    letter-spacing: 2px;
}
h3{
    font-size: 2.20rem;
}
h2{
    font-size: 5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#007bff ;
}
.portrait{
    padding: 10px;
    width: 190px;
    height: 220px;
    background-color:#007bff;
    border-radius: 5px;
}
#ivan-img{
    width: 170px;
    height: 200px;
    margin: auto;
    border-radius: 5px;
}