*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
header{
    height: 350px;
    width: 100%;
    border-bottom: solid;
    border-color: #007bff;
}
.navbar{
    background-color: #007bff;
    height: 50px;
    width: 250px;
    display: inline-flex;
    float: right;
}
.logo{
    display: inline-block;
}
.logo-words{
    padding: 10px;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: left;
}
ul{
    padding: 10px;
    display: flex;
    float: right;
}
.nav-btn{
    color: white;
}
li{
    font-size: 25px;
    margin-left: 20px;
    font-weight: bold;
    
}
.head-text{
    padding: 30px;
    letter-spacing: 2px;
}
h3{
    font-size: 2.20rem;
}
h2{
    font-size: 5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#007bff ;
}

footer{
    /* background-color: aqua; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    height: 50px;
    box-shadow: 0 5px 15px black;
}
.contact-title{
    display: inline;
}
.contact-info{
    padding: 0px;
    width:600px;
    display: flex;
    float: right;
    font-weight: bolder;
}
i{
    font-size: 30px;
    margin-right: 50px;
}
#github{
    color: blueviolet;
}
#linkedIn{
    color: #267dff;
}
.contact-text{
    margin: auto;
    margin-right: 50px;
}