*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
header{
    height: 300px;
    width: 100%;
    border-bottom: solid;
    border-color: #007bff;
}
.navbar{
    background-color: #007bff;
    height: 50px;
    width: 250px;
    display: inline-flex;
    float: right;
}
.logo{
    display: inline-block;
}
.logo-words{
    padding: 10px;
    font-size: 20px;
    letter-spacing: 5px;
    text-align: left;
}
ul{
    padding: 10px;
    display: flex;
    float: right;
}
.nav-btn{
    color: white;
}
li{
    font-size: 25px;
    margin-left: 20px;
    font-weight: bold;
    
}
.head-text{
    padding: 30px;
    letter-spacing: 2px;
}
h3{
    font-size: 2.20rem;
}
h2{
    font-size: 5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#007bff ;
}
.portrait{
    padding: 10px;
    width: 190px;
    height: 220px;
    /* background-color:#007bff; */
    background-image: linear-gradient(90deg,#fdf3c9,#267dff);
    border-radius: 5px;
    position: absolute;
    top: 12rem;
    right: 2rem;
}
#ivan-img{
    width: 170px;
    height: 200px;
    margin: auto;
    border-radius: 5px;
}
section{
    height: 500px;
    background-image: linear-gradient(140deg,#267dff,#392cf8);
    padding:40px;
}
.content{
    width: 45rem;
    height: 50rem;
    
    margin: auto;
    /* background-color: brown; */
    color: white;
    text-align: justify;
    letter-spacing: 1px;
}
.content-title{
    margin-bottom: 20px;
    font-size: 60px;
}